<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @microposts.present? %>
  <% @microposts.each do |micropost| %>
    <p>
      <strong>Content:</strong>
      <%= micropost.content %>
    </p>
      <%= micropost.user_id %>
      <%= micropost.created_at %>
  <% end %>
<% else %>
  <p><strong>This user has no posts yet</strong></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
